.cards {
    padding: 0 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 35px;
}

.cardWrapper {
    flex: 0;
    width: 450px;
    height: 279px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
}
.sider {
    background-color: #E5E5E5 !important;
}

.spin {
    padding-top: 127px;
    display: flex;
    justify-content: center;
}

.cardInfo {
    width: 268px !important;
    padding: 10px 10px 15px 20px;
    background-color: inherit;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filmName {
    align-self: center;
    padding-right: 10px;
    margin: 0 !important;
    font-family: 'Inter', sans-serif;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 28px;
}

.rating {
    align-self: flex-start;
}

.releaseDate {
    margin-top: 7px;
    font-family: 'Inter', sans-serif;
    color: #827E7E;
    font-size: 12px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    margin-top: 7px;
    font-size: 12px;
    line-height: 15px;
    row-gap: 2px;
}

.ant-tag {
    -webkit-margin-end: 2px;
            margin-inline-end: 2px;
}

.description {
    font-family: 'Inter', sans-serif;
    margin-top: 7px;
    margin-bottom: 0 !important;
    font-size: 12px;
    line-height: 20px;
}

.userRating {
    margin-top: auto;
    line-height: 18px !important;
    font-size: 18px;
}

.ant-rate-star {
    -webkit-margin-end: 4px !important;
            margin-inline-end: 4px !important;
}

@media screen and (max-width: 767.98px) {
    .cards {
        padding: 0;
    }

    .cardWrapper {
        flex: 0;
        width: calc(100% - 50px);
        height: 279px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
        font-family: 'Inter', sans-serif;
        background-color: #FFFFFF;
    }

    .cardInfo {
        padding: 10px 10px 15px 10px;
    }

    .userRating {
        margin-top: auto;
        line-height: 18px !important;
        font-size: 15px;
    }
}