.searchTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.input {
    margin: 10px 50px 35px 50px;
    width: calc(100% - 70px)
}

.pagination {
    margin-top: 35px;
}

.hidden {
    display: none;
}