.ratedTab {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.ratedPagination {
    margin-bottom: 20px;
    align-self: center;
}

.hidden {
    display: none;
}